# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

gae_env.yaml
# dependencies
*/node_modules
/node_modules

# testing
/coverage

# production
/build

# environment
.env
.env.*
!.env.example

# error and debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store

# ide files
.idea

# user docs
learn/_site
learn/assets/__dummy_content
learn/_data/envlocal.json
.cache
