html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  color: inherit;
}

.flex {
  display: flex;
}

/********************************** Buttons **********************************/
.btn.side {
  width: 15em;
}

.btn.top {
  width: 10em;
}

.btn.contained.white {
  background: var(--color-base-100);
  color: var(--color-accent);
}

.btn.contained.teal {
  background: var(--color-accent);
  color: var(--color-accent-content);
}

.btn.outlined.white {
  color: var(--color-base-content);
  border-color: var(--color-base-content);
}

.btn.outlined.teal {
  color: var(--color-accent);
  border-color: var(--color-accent);
}

.btn.disabled {
  opacity: 0.3;
}

.btn.contained.red {
  background-color: var(--color-error);
  color: var(--color-error-content);

  &:hover {
    background-color: color-mix(
      in srgb,
      var(--color-error) 85%,
      var(--color-black)
    );
  }
}

.btn.margin-top {
  margin-top: 30px;
}
/********************************** Text Field **********************************/

.textField.standard {
  border-bottom: var(--color-primary);
}
