.gradient {
  background-image: linear-gradient(
    to right,
    #6366f1 10%,
    /* indigo-500 */ #0ea5e9 30%,
    /* sky-500 */ #10b981 90% /* emerald-500 */
  );
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text; /* For better support in webkit-based browsers */
}
