.topBar {
  width: 100vw;
  height: 7.5vh;
  min-height: 75px;
  background-color: #035084;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0em 2em;
  flex-direction: row;
  box-sizing: border-box;

  .leftTopBarList {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    justify-self: flex-start;
  }

  .rightTopBarList {
    display: flex;
    gap: 15px;
    justify-content: flex-end;
  }

  .rightTopBarList > * {
    // gives all children in list padding
    text-align: center;
  }
}
