Menu (<a href="{{ site.github.repository_url }}/edit/{{site.git_branch | escape}}/docs/_includes/sidebar.html">Edit</a>):

<ul>
  <li><a href="{{ '/' | relative_url }}">Home</a></li>
  <li><a href="{{ '/user-manual' | relative_url }}">User Manual</a></li>
  <li> Development
    <ul>
        <li><a href="{{ '/setup-and-run-app' | relative_url }}">Setup and Run App</a></li>
        <li><a href="{{ '/frontend-authoring-tool' | relative_url }}">Authoring Tool</a></li>
        <li><a href="{{ '/react-moveable' | relative_url }}">React-Moveable</a></li>
        <li><a href="{{ '/backend-api' | relative_url }}">Backend API</a></li>
    </ul>
  </li>
</ul>