.sideBar {
  min-width: 16rem /* 240px */;
  width: 16rem /* 240px */;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .sideBarList {
    list-style: none;
    width: 100%;
    padding-left: 1.75rem /* 28px */;
    padding-right: 1.75rem /* 28px */;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.75rem /* 12px */;

    .buttonDisabled {
      opacity: 0.3;
    }

    li > button {
      width: 100%;
      letter-spacing: 0.05em;
      font-weight: 300;
      text-align: left;
    }
  }

  .sideBarText {
    color: white;
    font-size: 1.5rem;
    margin: 0;
    padding: 2.5em 0;
  }

  .googleButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
    background-color: #f4f4f4;
    color: #035084;
    font-size: 1rem;
    padding: 0.75em 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .sponsorText {
    color: white;
    font-size: 1rem;
    margin: 0;
    padding: 15rem 4em;
  }
}
