.dialogTitle {
  color: #fafafa;
  background-color: #2a555e;
}
.dialogContent {
  color: #fafafa;
  background-color: #0080a7;
  display: flex;
  flex-direction: column;
  align-items: center;

  > .dialogItem {
    margin-block: 5px;
  }
}

.textField {
  background-color: #fafafa;
  border-radius: 10px;
}
