.sideBar {
  flex: 1 1 auto;
  width: 18.5vw;
  background-color: #ffffff;
  filter: drop-shadow(-2.5px 0 5px rgba(0, 0, 0, 0.1));
  display: flex;
  flex-direction: column;

  .componentPropertiesContainer {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    .sideBarBody {
      flex: 1 1;
      flex-basis: 0px;
      padding: 2.5em 2.5em;
      margin: 0em;
      background-color: #f0f0f0;
      overflow-y: scroll;

      .noComponentSelectedText {
        font-size: 90%;
        font-weight: 500;
        letter-spacing: 1px;
        color: #999999;
      }
    }

    .sideBarBody.empty {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.sideBarHeader {
  padding: 1.5em 2.5em;
  margin: 0em;
  font-size: 100%;
  font-weight: 600;
  letter-spacing: 1px;
  color: #727272;
  background-color: #ffffff;
}

.sideBarBody {
  padding: 2.5em 2.5em;
  margin: 0em;
  background-color: #f0f0f0;
}

.componentProperty:first-child {
  margin-top: 0 !important;
}

.componentProperty {
  margin-top: 2em !important;
}

.selectInput:after {
  border-bottom-color: #008a7b !important;
}

.textArea {
  margin-top: 16px !important;
}

.fileUploadLabel {
  font-size: 12px;
  opacity: 0.6;
}
