.sideBar {
  min-width: 250px;
  width: 15vw;
  height: 100vh;
  background-color: #035084;
  text-align: center;

  .logo {
    width: 250px;
  }

  .sideBarList {
    list-style: none;
    padding: 0;

    li:not(:last-child) {
      margin-bottom: 10%;
    }

    .buttonDisabled {
      opacity: 0.3;
    }
  }
}
