.sideBar {
  min-width: 250px;
  width: 15vw;
  height: 100vh;
  background-color: #008a7b;
  text-align: center;

  .logo {
    width: 250px;
  }

  .sideBarList {
    list-style: none;
    padding: 0;
  }

  .listItem {
    margin-top: 60px;
  }
}
