html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  color: inherit;
}

.flex {
  display: flex;
}

/********************************** Buttons **********************************/
.btn.side {
  width: 15em;
}

.btn.top {
  width: 10em;
}

.btn.contained.white {
  background: #fafafa;
  color: #008a7b;
}

.btn.contained.teal {
  background: #008a7b;
  color: #fafafa;
}

.btn.outlined.white {
  color: #fafafa;
  border-color: #fafafa;
}

.btn.outlined.teal {
  color: #008a7b;
  border-color: #008a7b;
}

.btn.disabled {
  opacity: 0.3;
}

.btn.contained.red {
  background-color: #e53935;
  color: #fafafa;

  &:hover {
    background-color: #d32f2f;
  }
}
/********************************** Text Field **********************************/

.textField.standard {
  border-bottom: aquamarine;
}
