body {
  color: inherit;
}

.side-bar {
  width: 15vw;
  height: 100vh;
  background-color: #008a7b;
  text-align: center;

  .logo {
    width: 250px;
  }
}

.scenario-list-container {
  width: 85vw;
  height: 100vh;
}
