.toolBar {
  width: 100vw;
  padding: 2px 0 2px 50px !important;
  color: #4b4b4b;
  background-color: #ffffff;
  border-bottom: 2px solid #c1c1c1;
}

.menuItem {
  padding-top: 4px !important;
  padding-bottom: 4px !important;

  p {
    margin: auto 6px;  
  }
}
