.toolBar {
  width: 100vw;
  padding: 2px 0 2px 50px !important;
  color: #4b4b4b;
  background-color: #ffffff;
  border-bottom: 2px solid #c1c1c1;
}

.menuItem {
  padding-top: 4px !important;
  padding-bottom: 4px !important;

  p {
    margin: auto 6px;
  }
}

.playerContainer {
  margin-top: 10px; 
  margin-bottom: 10px; 
  border-top: 1px solid #ccc; 
  border-bottom: 1px solid #ccc; 
  padding: 10px; 
}
.tagContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.tag {
  border: none;
  border-radius: 100%; 
  padding: 10px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease; 
}

.selectedTag {
  background-color: #0080a7; 
  color: #fff; 
}