.topBar {
  width: 100vw;
  height: 7.5vh;
  min-height: 75px;
  background-color: #008a7b;
  display: flex;
  align-items: center;
  padding: 0em 2em;

  .topBarList {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
