.topBar {
  width: 100vw;
  height: 7.5vh;
  min-height: 75px;
  background-color: #035084;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0em 2em;
  flex-direction: row;
  box-sizing: border-box;

  .leftTopBarList {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    justify-self: flex-start;
  }

  .rightTopBarList {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    justify-content: flex-end;

    .listItem {
      margin: 0;
      > Button {
        margin-left: 20px;
      }
    }
  }

  .rightTopBarList > * {
    // gives all children in list padding
    display: inline;
    text-align: center;
    margin: 16px;
  }
}
