<link rel="stylesheet" href="/styles/main.css">
<nav>
  <ul>
    {% for item in navigation %}
      <li>
        <a href="{{ item.url }}">{{ item.title }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>
<hr>
<main>
  {{ content | safe }}
</main>
