@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

body {
  margin: 40px auto;
  max-width: 750px;
  line-height: 1.6;
  font-size: 18px;
  color: #444;
  padding: 0 10px;
  background: #fafafa;
  font-family: 'Inter', sans-serif;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

h1 a,
h2 a,
h3 a {
  color: inherit;
  text-decoration: none;
}

table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ccc;
  padding: 0.5rem 1rem;
}
